<a href="https://colab.research.google.com/github/MayuriA-tech/big-data/blob/main/list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1-Write a Python program to find the maximum element in a list of numbers without max functio
number=[10,20,30,40,55]
temp=number[0]
for i in number:
  if(i>temp):
    temp=i
print("maximum number:",temp)

maximum number: 55

In [ ]:
#2. Write a Python program to sum all the elements in a list of numbers.
list=[10,20,30,40]
sum=0
for i in list:
  sum=sum+i
print("the sum of the list:",sum)

the sum of the list: 100

In [ ]:
#3. Write a Python program to reverse a list without reverse or slicing operator
list=[1,2,3,4,5]
rev_list=[]
for i in list:
  rev_list.insert(0,i)
print("the revese of the list is :",rev_list)

the revese of the list is : [5, 4, 3, 2, 1]

In [1]:
#4. Write a Python program to sort a list in ascending order without sort functions
numbers = [23, 12, 5, 67, 1, 34]
n=len(numbers)
for i in range(n):
  for j in range(0,n-i-1):
    if(numbers[j]>numbers[j+1]):
      numbers[j],numbers[j+1]=numbers[j+1],numbers[j]
print("sorted list in ascending order",numbers)

sorted list in ascending order [1, 5, 12, 23, 34, 67]

In [ ]:
#5. Write a Python program to remove duplicates from a list while maintaining the order of elements
list=[1,1,2,3,2,4,4]
unique=[]
for i in list:
  if(i not in unique):
    unique.append(i)
print("the list after removing duplicates:",unique)

the list after removing duplicates: [1, 2, 3, 4]

In [ ]:
#6. Write a Python program to find all pairs of numbers in a list that add up to a specific target sum
mylist=[1,2,3,3,4,5]
for index in range(0,6):
  curr=mylist[index]

  for index2 in range(index+1,6):
    next=mylist[index2]
    if(curr + next ==6):
      print("two element is:",curr,next)

two element is: 1 5
two element is: 2 4
two element is: 3 3

In [ ]:
#7. Write a Python program to flatten a nested list (list within lists) into a single list.
nested_list = [1, [2, 3], [4, [5, 6], 7], 8]
flat_list = []
for item in nested_list:
    if type(item) == list:
        for subitem in item:
            if type(subitem) == list:
                for val in subitem:
                    flat_list.append(val)
            else:
                flat_list.append(subitem)
    else:
        flat_list.append(item)
print("nested list:", nested_list)
print("Flattened list:", flat_list)

nested list: [1, [2, 3], [4, [5, 6], 7], 8]
Flattened list: [1, [2, 3], [4, [5, 6], 7], 8]

In [ ]:
#8. Write a Python program to find the sum of the elements in a list, excluding the largest and smallest element. Donâ€™t use max or min functions
list=[1,2,3,4,5]
smallest=largest=list[0]
sum=0
for i in list:
  sum+=i
  if(i<smallest):
    smallest=i
  elif(i>largest):
    largest=i

print("the sum of elementsL:",sum-smallest-largest)

the sum of elementsL: 9

In [ ]:
#9. Write a Python program to check if a list is a palindrome (reads the same backward as forward) using two pointer approach
#numbers = [1, 2, 3, 2, 1]
num=[1,2,3,2,1]
i=0
j=len(num)-1
while(i<j):
  if(num[i]!=num[j]):
    print("the list is not palindrome")
    break
    i+=1
    j-=1
  else:
    print("the list is palindrome")
    break

the list is palindrome

In [ ]:
#10. Write a function to remove duplicate elements from a list.
def duplicate():
  list=[1,1,2,3,2,4,4]
  unique=[]
  for i in list:
    if(i not in unique):
       unique.append(i)
  print("the list after removing duplicates:",unique)
duplicate()

the list after removing duplicates: [1, 2, 3, 4]

In [ ]:
#11. Find Common Elements in Two Lists
list1=[1,2,3,4]
list2=[4,5,6,7]
for i in list1:
  if(i in list2):
    print("the common elements:",i)

the common elements: 4

In [ ]:
#12. Find the Longest Word in a List
list=["apple","mango","kiwi","blueberry"]
longest=list[0]
for i in list:
  if len(i)>len(longest):
    longest=i
print("the longest word from the list:",longest)

the longest word from the list: blueberry

In [ ]:
#13. Find Missing Number in a List
list=[1,2,4,5,6]
for i in range(1,len(list)+1):
  if(i not in list):
    print("the missing number:",i)

the missing number: 3

In [ ]:
#15. Find the First Non-Repeating Element
#Given a list of integers, find the first element that appears only once.
# numbers = [4, 5, 1, 2, 0, 4, 5, 2]
list=[4,5,1,2,0,4,5,2]
for i in list:
  if( list.count(i)==1):
    print("the elements:",i)
    break

the elements: 1

In [ ]:
#16. Move All Zeros to the End
#Given a list of integers, move all zeros to the end while maintaining the relative order
#of non-zero elements. Donâ€™t use any inbuilt functions
# numbers = [0, 1, 0, 3, 12]
list1=[0,1,0,3,12]
list2=[]
list3=[]
for i in list1:
  if(i==0):
    list2.append(i)
  else:
    list3.append(i)
print("final list is:", list3+list2)

final list is: [1, 3, 12, 0, 0]

In [ ]:
#17. Find Elements Greater Than Their Left Neighbor
# numbers = [1, 3, 2, 6, 5, 8, 7]
numbers = [1, 3, 2, 6, 5, 8, 7]
for i in range(1,len(numbers)):
  if(numbers[i]>numbers[i-1]):
   print(f"{numbers[i]} is greater than {numbers[i-1]}")

3 is greater than 1
6 is greater than 2
8 is greater than 5

In [ ]:
#18. Find Triplets That Sum to Zero
#Given a list of numbers, find all unique triplets (a, b, c) such that a + b + c = 0.
mylist=[1,2,3,3,4,5]
for index in range(0,6):
  curr=mylist[index]

  for index2 in range(index+1,6):
    next=mylist[index2]

    for index3 in range(index2+1,6):
      next1=mylist[index3]
      if(curr + next + next1 ==6):
         print("three element is:",curr,next,next1)
         break

three element is: 1 2 3